@model List<Book>

<h1>All books in our inventory</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publised Date</th>
            <th scope="col">Publiser</th>
            <th scope="col">Edition</th>
            <th scope="col">Price</th>
            <th scope="col">Language</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var book in Model)
        {
            <tr>
                <th scope="row">@(i++)</th>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.PublishedDate</td>
                <td>@book.Publisher</td>
                <td>@book.Edition</td>
                <td>@book.Price</td>
                <td>@book.Language</td>
            </tr>
        }

    </tbody>
</table>
